/app/public/allMusicFolder/*
/app/public/musicCatalogFolder/*
/app/node_modules

node_modules

/app/public/allMusicFolder_Test/*
/app/public/musicCatalogFolder_Test/*


.DS_Store
.DS_Store?
._*


*.log

// test results
results.txt
